.navigation{
    background-color: $color-primary;
    padding: 12px 0;
    li:hover ul{
        display: block;
        text-align: center;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        li{
            display: inline-block;
            margin-right: 36px;
            position: relative;
            a{
                text-decoration: none;
                color: $font-bright;
                &:hover{
                    color: $font-dark;
                }
            }
        }
// "for all lists in lists in navigation" selector
        ul{
            display: none;
            position: absolute;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 12px;
            li{
                display: block;
                text-align: center;
                margin: 10px;
                a{
                    color: $color-primary;
                    display: block;
                    padding: 0 24px;
                    text-align: left;
                    &:hover{
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}