.our-services{
    color: $font-dark;
    ul{
        list-style: none;
    }
    .se-title{
        font-size: 24px;
        margin: 0;
        font-weight: bold;
    }
    .se-text{
        p:first-child {
            font-weight: bold;
        }
        p{
            padding: 0 32px 0 0;
        }
    }
    .se-number{
        font-family: $font-secondary;
        position: absolute;
        font-size: 144px;
        font-weight: 900;
        line-height: 1;
        opacity: 0.2;
        top: -25px;
    }
    .services-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services-element{
        display: flex;
        flex-direction: column;
        flex: 0 0 33.333%;
        position: relative;
        max-width: 330px;
    }

    .btn{
        margin: auto 0 0 0;
        align-self: flex-start;
    }
    .btn:hover{
        color: white;
    }
    .btn-two{
        background-color: white;
        border-color: $color-extra;
        color: $color-extra;
        background-image: linear-gradient(90deg, $color-extra 50%, transparent 50%);
    }
    .btn-three{
        background-color: white;
        border-color: $color-secondary;
        color: $color-secondary;
        background-image: linear-gradient(90deg, $color-secondary 50%, transparent 50%);
    }
    .btn-four{
    background-color: white;
    border-color: $color-primary;
    color: $color-primary;
    background-image: linear-gradient(90deg, $color-primary 50%, transparent 50%);
    }
}