$font-main: 'Inconsolata', monospace;
$font-secondary: 'Signika', sans-serif;

$color-primary: #20bf6b;
$color-secondary: #45aaf2;
$color-extra: #fc5c65;

$font-bright: #ffffff;
$font-dark: #4b6584;

$transition: all 0.8s;